---
import type { PostFrontmatter } from "@pages/index.astro";
import type { MarkdownInstance } from "astro";

interface Props {
  id: string;
  post: MarkdownInstance<PostFrontmatter>;
}

const { id, post } = Astro.props;
---

<div id='trigger' class="w-full" onclick={`window.${id}.showModal()`}><slot name='element' /></div>
<dialog id={`${id}`} class='bg-dark rounded no-scrollbar overflow-auto backdrop:bg-gray-900 duration-200 backdrop:opacity-80 outline-none' onclick={`window.${id}.close()`}>
  <form method="dialog" class="flex flex-col items-center w-full">
    <img src={post.frontmatter.miniature} class="rounded max-h-[500px] md:max-h-[700px]"/>
    <article class="py-2 mt-4 w-full tracking-wide text-center">
      <!-- TITLE -->
      <h2 class="font-medium text-lg">{post.frontmatter.title}</h2>
      <!-- STACK -->
      <div class="flex gap-x-2 justify-center my-4 font-light">
        {post.frontmatter.stack.join(" - ")}
      </div>
      <!-- CONTENT -->
      <div class="art" set:html={post.compiledContent()} />
    </article>
  </form>
</dialog>

<style>



h1 {
  @apply font-bold
}
.art {
  @apply text-center leading-7 font-normal
}
</style>

